.git
.gitignore
.github
.DS_Store
node_modules
**/node_modules
.next
**/.next
out
**/out
dist
**/dist
coverage
**/coverage
test-results
playwright-report
*.log
*.tsbuildinfo
.env
.env.*
!.env.example
